.link {
  cursor: pointer;
  color: $garnet;
  font-size: $text-title;

  @include responsive("desktop") {
    font-size: $text-title;
  }

  &__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__item-selected {
    font-weight: bold;
    text-decoration: underline;
  }
}
