.limit__wrapper {
  position: relative;
}

.limit {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid $garnet;
  border-radius: 8px;
  top: -14px;

  &__item {
    & .text {
      cursor: pointer;
      border-radius: 8px;
      padding: 4px 8px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
