$header-height: 70px;

$menu-width: 200px;
$menu-text-width: 180px;
$drawer-width: 380px;
$drawer-height: calc(100vh - $header-height);

$button-height: 40px;
$button-width: 180px;

$text-modifier: 2;
$text-field-height: 50px;

$product_card_width: 180px;
$product_card_height: 220px;
$product_card_mobile_width: 110px;
$product_card_mobile_height: 150px;

$listing-container-height: 830px;
