.toast {
  position: fixed;
  display: flex;
  align-items: center;
  height: 40px;
  top: $header-mobile-height;
  right: 20px;
  padding: 16px 8px;
  border-radius: 4px;
  @include castShadow();

  @include responsive("desktop") {
    top: $header-height;
    width: 400px;
  }

  & svg {
    margin-right: 26px;
  }

  &--info {
    background-color: $timber-wolf;
    color: $olive;

    & svg {
      stroke: $olive;
      fill: $olive;
    }
  }

  &--error {
    background-color: $error;
    color: $garnet;
  }

  &--success {
    background-color: $success;
    color: $olive;

    & svg {
      stroke: $olive;
      fill: $olive;
    }
  }
}
