.header {
  height: $header-height - 10px;
  background-color: $grullo;
  padding: 5px 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .hamburger-menu {
    cursor: pointer;
  }

  & .navigation {
    display: none;
  }

  &__right {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  @include responsive("desktop") {
    height: $header-height;
    padding: 15px 24px;

    .hamburger-menu {
      display: none;
    }

    .navigation {
      display: flex;
    }
  }
}

.main__logo {
  position: absolute;
  left: 203px;

  @include responsive("desktop") {
    position: inherit;
  }
}
