.drawer__wrapper {
  top: 0 + $header-height;
  right: 0;
  position: absolute;
  z-index: 3;
  visibility: hidden;
  transition: all 0.5s ease-out;
  &--open {
    visibility: visible;
  }
}

.drawer {
  top: 0;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 24px;
  width: $drawer-width;
  height: $drawer-height;
  background-color: $timber-wolf;

  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  @include responsive("desktop") {
    display: none;
  }

  @include castShadow();

  &--open {
    transform: translateX(10%);
  }
}
