.drawer__wrapper {
  top: 0 + $header-mobile-height;
  right: 0;
  position: absolute;
  z-index: 3;
}

.drawer {
  top: 0;
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 10px;
  padding-left: 50px;
  width: $drawer-width;
  height: $drawer-height;
  background-color: $timber-wolf;

  @include castShadow();
}
