.icon-button {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    filter: brightness(1.3);
  }

  & .text {
    color: $garnet;
  }
  & svg {
    stroke: $garnet;
    cursor: pointer;

    &:hover {
      filter: brightness(1.3);
    }
  }
}
