@use "./styles/global.scss";

html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  color: $raisin-black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

body {
  background-color: $timber-wolf;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
}

.main__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: auto;
  padding: $padding-base * 6;
  height: calc(100vh - $header-mobile-height);
  width: 430px;

  &--drawer-opened {
    filter: blur(2px);
    pointer-events: none;
  }

  @include responsive("desktop") {
    padding: $padding-base * 10;
    height: calc(100vh - $header-height);
    width: 1512px;
    filter: none;
  }
}

svg {
  stroke: $garnet;
}

.disabled {
  color: $grullo !important;
  stroke: $grullo !important;
  pointer-events: none !important;

  svg {
    stroke: $grullo !important;
    fill: $grullo !important;
  }
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: none;
  border: none;
  height: 22px;
  width: 22px;
  background: url("/images/slider-thumb.png");
  background-size: contain;
  border-radius: 16px;

  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
